<div class="col-xs-12">&nbsp;</div>
<div class="col-xs-12" data-ng-repeat="response in fertilizers">
    <div class="col-xs-12">
        <h3 class="display-3">							
            <small><span class="text-uppercase">{{response.fertilizer}}</span>&nbsp;(kg/Tag)</small>
            <span class="pull-right">&nbsp;{{response.amountPerDay | number:1}}</span>
        </h3>
    </div>
    <div class="col-xs-12">
        <h3 class="display-3">
            <small>Strecke (km/Tag)</small>
            <span class="pull-right">&nbsp;{{response.distancePerDay | number:1}}</span>
        </h3>
    </div>
    <div class="col-xs-12"><hr /></div>
</div>
