<!doctype html>
<html data-ng-app="fertilizer">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<script src="scripts/angular.min.js"></script>
<script src="scripts/fertilizer.js"></script>

<title>Kunstd&uuml;nger</title>
</head>
<body data-ng-controller="FertilizerController as ctrl">
	<div class="container-fluid">
		<div class="row"><div class="col-sm-12">&nbsp;</div></div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="btn-group btn-group-lg btn-group-justified">
					<div class="btn btn-default"><a href="#">Current</a></div>
					<div class="btn btn-default"><a href="/counter">Counter</a></div>
					<div class="btn btn-default"><a href="/reset">Reset</a></div>
					<div class="btn btn-default"><a href="/settings">Settings</a></div>
				</div>
			</div>
		</div>
		<form name="FertilizerForm" method="post">
			<div class="row">
				<div class="col-xs-12">
					<div class="col-xs-12">
						<h2 class="display-2">
							<span class="text-uppercase">{{response.fertilizer}}</span>
							<small>&nbsp;(kg/ha)</small>
							<span class="pull-right">&nbsp;{{response.calculated | number:1}}</span>
						</h2>
					</div>
				</div>
				<div class="col-xs-12"><hr /></div>
				<div class="col-xs-12">
					<div class="col-xs-12">
						<h3 class="display-3">
							<small>Aktuelles Feld (kg)</small>
							<span class="pull-right">&nbsp;{{response.amount | number:1}}</span>
						</h3>
					</div>
					<div class="col-xs-6">
						<h4 class="display-4">
							<small>Strecke (m)</small>
							<span class="pull-right">&nbsp;{{response.distance | number:1}}</span>
						</h4>
					</div>
					<div class="col-xs-5 pull-right">
						<button name="reset" data-ng-click="ctrl.reset()" class="btn btn-block btn-secondary">
							<span class="glyphicon glyphicon-remove"></span>&nbsp;Reset
						</button>
					</div>
				</div>
				<div class="col-xs-12"><hr /></div>
				<div class="col-xs-12">
					<div class="col-xs-12">
						<h3 class="display-3">							
							<small><span class="text-uppercase">{{response.fertilizer}}</span>&nbsp;(kg/Tag)</small>
							<span class="pull-right">&nbsp;{{response.amountPerDay | number:1}}</span>
						</h3>
					</div>
					<div class="col-xs-6">
						<h4 class="display-4">
							<small>Strecke (km/Tag)</small>
							<span class="pull-right">&nbsp;{{response.distancePerDay | number:1}}</span>
						</h4>
					</div>
					<div class="col-xs-5 pull-right">
						<button name="reset" data-ng-click="ctrl.reset()" class="btn btn-block btn-secondary">
							<span class="glyphicon glyphicon-remove"></span>&nbsp;Reset
						</button>
					</div>
				</div>
			</div>
			<div class="row"><div class="col-xs-12"><hr /></div></div>
			<div class="form-row">
				<div class="col-xs-12">
					<label>D&uuml;nger</label>
					<select name="name" data-ng-model="fertilizer" class="form-control">
						<option data-ng-repeat="f in fertilizers">{{f}}</option>
					</select>
				</div>
				<div class="col-xs-5 pull-right">
					<label>&nbsp;</label>
					<button name="apply" data-ng-disabled="response.fertilizer === fertilizer"  data-ng-click="ctrl.applyChanges()" class="btn btn-block btn-primary">
						<span class="glyphicon glyphicon-ok"></span>&nbsp;OK
					</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>