<!doctype html>
<html data-ng-app="fertilizer">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<script src="scripts/angular.min.js"></script>
<script src="scripts/ng-websocket.js"></script>
<script src="scripts/fertilizer.js"></script>

<title>Kunstd&uuml;nger</title>
</head>
<body data-ng-controller="FertilizerController as ctrl">
	<div class="container-fluid">
		<form name="FertilizerForm" method="post">
			<div class="row"><div class="col-sm-12">&nbsp;</div></div>
			<div class="row">
				<div class="col-sm-8">
					<h1 class="display-1">
						{{response.calculated}} <small>aktueller Auswurf (kg / ha)</small>
					</h1>
					<h3 class="display-1">								
						{{response.distance}} <small>zur&uuml;ckgelegte Distanz in m</small>
					</h3>
					<h3 class="display-1">
						{{response.amount}} <small>ausgestreute Menge in kg</small>
					</h3>
				</div>
				<div class="col-sm-4">
					<div class="col-sm-12">
						<button name="stop" data-ng-click="ctrl.stop()" class="btn btn-block btn-lg btn-danger">
							<span class="glyphicon glyphicon-off"></span>
						</button>
					</div>
					<div class="col-sm-12">
						<button name="reset" data-ng-click="ctrl.reset()" class="btn btn-block btn-lg btn-primary">
							<span class="glyphicon glyphicon-remove"></span> Zur&uuml;setzen
						</button>
					</div>
				</div>
			</div>
			<div class="row"><div class="col-sm-12">&nbsp;</div></div>
			<div class="form-row">
				<div class="col-sm-4">
					<label>Kg pro Ha</label>
					<input name="amountPerArea" data-ng-model="data.amountPerArea" class="form-control" />
				</div>
				<div class="col-sm-4">
					<label>D&uuml;nger</label>
					<select name="name" data-ng-model="data.fertilizer" class="form-control">
						<option data-ng-repeat="f in fertilizers">{{f}}</option>
					</select>
				</div>
			</div>
			<div class="row"><div class="col-sm-12">&nbsp;</div></div>
			<div class="form-row">
				<div class="col-sm-4">
					<label>GPIO-Strecke</label>
					<input name="gpioDistance" data-ng-model="data.gpioDistance" class="form-control" />
				</div>
				<div class="col-sm-4">
					<label>GPIO-Menge</label>
					<input name="gpioAmount" data-ng-model="data.gpioAmount" class="form-control" />
				</div>
				<div class="col-sm-4">
					<label>&nbsp;</label>
					<button name="apply" data-ng-click="ctrl.applyChanges()" class="btn btn-block btn-primary">
						<span class="glyphicon glyphicon-ok"></span>
					</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>